
$box-shadow-color: #4F4F4F;
$pallet-green: rgb(0,161,49);
$pallet-green-dark: rgb(12, 122, 45);
$pallet-red:rgb(235,0,30);
$pallet-yellow:rgb(255,225,49);
$pallet-white: rgb(255,255,255);

$mediaDesktopMin: 1260px;
$mediaTabletMax: 960px;
$mediaTabletMin: 768px;
$mediaMinWidth: 480px;

$background-white-paper: url(../assets/backgroundImage.jpg);


.button {
  
  border:none;
  background-color: $pallet-green;
  padding: 10px 15px;
  color: $pallet-white;
  cursor: pointer;
  &:hover {
    gap: 2px;
    transform: scale(1.05);
    transition: 0.2s ease-out;
    background-color: $pallet-green-dark;
  }
}