// @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$box-shadow-color: #4F4F4F;
$pallet-green: rgb(0,161,49);
$pallet-green-dark: rgb(12, 122, 45);
$pallet-red:rgb(235,0,30);
$pallet-yellow:rgb(255,225,49);
$pallet-white: rgb(255,255,255);

$mediaDesktopMin: 1260px;
$mediaTabletMax: 960px;
$mediaTabletMin: 768px;
$mediaMinWidth: 480px;

$background-white-paper: url(../assets/backgroundImage.jpg);

html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  // font-family: 'Fredoka', Arial, Helvetica, sans-serif;
}


// LAYOUT

.grid-container {
  display: grid;
  grid-template-areas:  
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: $pallet-yellow;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: $pallet-yellow;
  color: rgb(235,0,30);
}

/* COMMON */

h1 {
  font-size: 1.8rem;
  padding: 1rem 0
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0
}

a {
  text-decoration: none;
  color: rgb(235,0,30);
}

a:hover {
  color: rgb(235,0,30);
  font-weight: 600;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  margin-top: 1rem
}

button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4;
  font-size: 1.6rem;
  background-color: $pallet-green;
  width: 100%;
  cursor: pointer;
}

button:hover {
  background-color: $pallet-green-dark;
}


// HEADER

header a{
  color: rgb(235,0,30);
  padding: 1rem
}

a.brand {
  color: rgb(235,0,30);
  font-weight: bold;
  font-size: 3rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start;
}

.col-1 {
  flex: 1 1 25rem;
}

.col-2 {
  flex: 2 1 50rem;
}

// IMAGE

img {
  border-radius: 0.5rem;
}

img.small {
  max-width: 5rem;
  width: 70%;
}
img.medium {
  max-width: 23rem;
  width: 100%;
}
img.large {
  max-width: 50rem;
  width: 100%;
}


// CARD

.card {
  border: 0.1rem solid #4F4F4F;
  background-color: rgb(255,255,255);
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
}

.card-body > * {
  margin-bottom: 0.5rem;
}

.price {
  font-size: 2rem;
}

// RATING

.rating span {
  color: gold;
  margin: 0.1rem
}

.rating span:last-child {
  color: black;
}

// ALERT

.success {
  color: #20a220;
}

.error {
  color: #eb001e;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-error {
  color: #a02020;
  background-color: #ffe0e0e0;
}

.button {
  
  border:none;
  background-color: $pallet-green;
  padding: 10px 15px;
  color: $pallet-white;
  cursor: pointer;
  &:hover {
    gap: 2px;
    transform: scale(1.05);
    transition: 0.2s ease-out;
    background-color: $pallet-green-dark;
  }
}