// @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$box-shadow-color: #4F4F4F;
$pallet-green: rgb(0, 161, 49);
$pallet-green-dark: rgb(12, 122, 45);
$pallet-red:rgb(235, 0, 30);
$pallet-yellow:rgb(255, 225, 49);
$pallet-white: rgb(255, 255, 255);

$mediaDesktopMin: 1260px;
$mediaTabletMax: 960px;
$mediaTabletMin: 768px;
$mediaMinWidth: 480px;

$background-white-paper: url(../assets/backgroundImage.jpg);

html {
  font-size: 62.5%;
  /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-image: url('../assets/backgroundImage.jpg');
  background-attachment: fixed;
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  // font-family: 'Fredoka', Arial, Helvetica, sans-serif;
}

#root {
  height: 100%;
}

// LAYOUT

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: $pallet-yellow;
  height: 70px
}

main {
  grid-area: main;
  padding: 3rem;
}

footer {
  grid-area: footer;
  background-color: $pallet-yellow;
  color: $pallet-red;
}

/* COMMON */

h1 {
  font-size: 1.8rem;
  padding: 1rem 0
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0
}

a {
  text-decoration: none;
  color: $pallet-red;
}

a:hover {
  color: $pallet-red;
  font-weight: 600;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  margin-top: 1rem
}

button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4;
  font-size: 1.6rem;
  background-color: $pallet-green;
  cursor: pointer;
}

button:hover {
  background-color: $pallet-green-dark;
}


// HEADER

header a {
  color: $pallet-red;
  padding: 1rem
}

a.brand {
  color: $pallet-red;
  font-weight: bold;
  font-size: 3rem;
}

.badge {
  background-color: $pallet-green;
  color: #fff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;

}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start;
}

.col-1 {
  flex: 1 1 25rem;
}

.col-2 {
  flex: 2 1 50rem;
}

.min-30 {
  min-width: 30rem;
}

// IMAGE

img {
  border-radius: 0.5rem;
}

img.small {
  max-width: 5rem;
  width: 70%;
}

img.medium {
  max-width: 23rem;
  width: 100%;
}

img.large {
  max-width: 50rem;
  width: 100%;
}


// CARD

.card {

  background-color: rgb(255, 255, 255);
  margin: 2rem;
  padding: 2rem;
  box-shadow: 2px 2px 17px 0px rgba(0, 0, 0, 0.75);
  height: 45rem;
}

.card:hover {
  transform: scale(1.01);
  transition: 0.2s ease-out;
}

.card-body>* {
  margin-bottom: 0.5rem;
}

.price {
  font-size: 2rem;
}

// RATING

.rating span {
  color: gold;
  margin: 0.1rem
}

.rating span:last-child {
  color: black;
}



// ALERT
.loading {
  display: block !important;
}

.success {
  color: #20a220;
}

.error {
  color: $pallet-red;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}

.alert-error {
  color: #a02020;
  background-color: #ffe0e0e0;
}

input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
}

button {
  background-color: $pallet-green;
  cursor: pointer;
}

// input:hover,
// select:hover,
// textarea:hover {
//   border: 0.1rem #404040;
// }

button:hover {
  gap: 1px;
  transform: scale(1.02);
  transition: 0.2s ease-out;
  background-color: $pallet-green-dark;
}

button.small {
  font-size: 1.2rem;
}

button.block {
  width: 100%;
}

// FORM

.form {
  max-width: 60rem;
  margin: 0 auto;
}

.form>div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form label {
  margin: 1rem 0;
}

// DROPDOWN

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 15rem;
  padding: 1rem;
  z-index: 1;
  background-color: $pallet-yellow;
  margin: 0;
  border-radius: 0.5rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

// CHECKOUT STEPS

.checkout-steps>div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem
}

.checkout-steps>div.active {
  border-top: 0.3rem solid $pallet-green-dark;
  color: $pallet-green-dark;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}

/* Search */
.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 0.5rem;
}